[slurm_master]
controller-01 ansible_host=192.168.58.10

[slurm_worker]
worker-01 ansible_host=192.168.58.11

[slurm:children]
slurm_master
slurm_worker

[all:vars]
ansible_user=vagrant
ansible_user=vagrant
slurm_password=justrandompassword
slurm_account_db_pass=riverxdata
slack_api_url=<Slack webhook URL for cluster status notifications>
slack_channel=<Slack channel for notifications>
admin_user =<Grafana admin user>
admin_password=<Grafana admin password>